
<mat-toolbar class="sidenav-content-toolbar" color="primary">
  <img src="../../../../assets/CPA-logo-white.png" style="height: 3rem">
  <button mat-icon-button class="menu-button" type="button" aria-label="Toggle sidenav" [matMenuTriggerFor]="belowMenu">
    <i class="material-icons">menu</i>
  </button>
  <div class="header-title">Subscriptions</div>
  <mat-menu #belowMenu="matMenu" yPosition="below" class="mat-menu-custom-header">
    <button mat-menu-item>Subscriptions</button>
    <button mat-menu-item>Templates</button>
    <button mat-menu-item>Contacts</button>
    <button mat-menu-item>Domains</button>
    <button mat-menu-item>Organizations</button>
    <button mat-menu-item>User Admin</button>
  </mat-menu>
  <span class="filler">
      <!-- You can place a search bar here or anything you like -->
  </span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
        [attr.role]="'navigation'"
        mode="side"
        opened="true">
      
    <app-search-panel></app-search-panel>

    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>