<mat-toolbar class="sidenav-content-toolbar" color="accent">
  <button mat-icon-button class="menu-button" type="button" aria-label="Toggle sidenav" [matMenuTriggerFor]="belowMenu">
    <i class="material-icons">menu</i>
  </button>
  <span>Subscriptions</span>
  <mat-menu #belowMenu="matMenu" yPosition="below" class="mat-menu-custom-header">
    <button mat-menu-item>Subscriptions</button>
    <button mat-menu-item>Templates</button>
    <button mat-menu-item>Contacts</button>
    <button mat-menu-item>Domains</button>
    <button mat-menu-item>Organizations</button>
    <button mat-menu-item>User Admin</button>
  </mat-menu>
  <span class="filler">
      <!-- You can place a search bar here or anything you like -->
  </span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
        [attr.role]="'navigation'"
        mode="side"
        opened="true">
        <mat-sidenav-container style="background:transparent;">
          <div class="drawer-form-container">
            <mat-form-field appearance="outline" class="drawer-input">
              <mat-label>Search</mat-label>
              <input matInput placeholder="Search">
            </mat-form-field>
            <mat-form-field appearance="outline" class="drawer-input">
              <mat-label>Organization Name</mat-label>
              <input matInput placeholder="Organization Name">
            </mat-form-field>
            <mat-form-field appearance="outline" class="drawer-input">
              <mat-label>Subscription Name</mat-label>
              <input matInput placeholder="Subscription Name">
            </mat-form-field>
            <mat-form-field appearance="outline" class="drawer-input">
              <mat-label>Primary Contact</mat-label>
              <input matInput placeholder="Primary Contact">
            </mat-form-field>
          </div>
        </mat-sidenav-container>
      <mat-nav-list class="navigation-list">
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>