<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
    table td, table th {
        border: 1px solid #eee;
        padding: .4rem;
        vertical-align: top;;
    }
</style>

<div style="padding: 3rem;">

    <form action="{% url 'home' %}" method="GET">
        <button type="submit" class="btn btn-link">Home</button>
    </form>

    <form action="{% url 'subscribe' %}" method="GET">
        <button type="submit" class="btn btn-link">Create Campaign</button>
    </form>

    <h2>Campaigns</h2>    

    <table>
        <tr>
            <th>
                Campaign Name
            </th>
            <th>
                Created Date
            </th>
            <th>
                Status
            </th>
            <th>
                Recipients
            </th>
        </tr>
        {% for c in campaigns %}
        <tr>
            <td>
                {{ c.name }}
            </td>
            <td>
                {{ c.created_date_dt|date:"m/d/y" }}
            </td>
            <td>
                {{ c.status }}
            </td>
            <td>
                {% for r in c.results %}
                <div>
                    {{ r.first_name }} {{ r.last_name }} - {{ r.email }} ({{ r.status }})
                </div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>

</div>