  
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
div.form-control {
    margin-bottom: .5rem;
}

table.recipients td {
    padding: .2rem;
}

.delete-div {
    border: 1px solid #ddd;
    border-radius: .25rem;
    padding: 1rem;
}
</style>
<div style="padding: 3rem;">

<form action="{% url 'home' %}" method="GET">
    <button type="submit" class="btn btn-link">Home</button>
</form>

<form action="view_campaigns" method="GET">
    <button type="submit" class="btn btn-link">View Submitted Campaigns</button>
</form>

<h2>
    New Campaign Subscription
</h2>

{% if instant_msg|length > 0 %}
<div
    style="padding: 1rem; background-color: #edbe15; border-radius: .5rem; border-color: #a88711; margin-bottom: 1rem;">
    {{ instant_msg }}
</div>
{% endif %}

<form action='' method='POST'>

    {% csrf_token %}

    <div class="form-group">
        <label>Company Name</label>
        <input id="subscriber_name" name="subscriber_name" type="text" class="form-control validate">
    </div>

    <div class="form-group">
        <label>Campaign Start</label>
        <input id="campaign_start" name="campaign_start" type="text" class="form-control validate">
    </div>

    <div class="form-group">
        <label>Campaign End (optional)</label>
        <input id="campaign_end" name="campaign_end" type="text" class="form-control validate">
    </div>

    <h4>Recipients</h4>
    <table class="recipients">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Position</th>
        </tr>
        <tr>
            <td style="width: 25%"><input id="first1" name="first1" type="text" class="form-control"></td>
            <td style="width: 25%"><input id="last1" name="last1" type="text" class="form-control"></td>
            <td style="width: 25%"><input id="email1" name="email1" type="text" class="form-control"></td>
            <td style="width: 25%"><input id="position1" name="position1" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td style="width: 25%"><input id="first2" name="first2" type="text" class="form-control"></td>
            <td style="width: 25%"><input id="last2" name="last2" type="text" class="form-control"></td>
            <td style="width: 25%"><input id="email2" name="email2" type="text" class="form-control"></td>
            <td style="width: 25%"><input id="position2" name="position2" type="text" class="form-control"></td>
        </tr>
    </table>

    <input type="hidden" name="submit_campaign" value="true">
    <div style="margin-top: 2rem">
        <button type="submit" class="btn btn-primary">Subscribe</button>
    </div>
</form>

<form action='' method='POST'>
    {% csrf_token %}
    <div class="delete-div" style="margin-top: 5rem; width: 50%">
        <p>
            This button will do a mass delete of all groups and campaigns.
            It is intended to be used for debugging purposes to clean
            up GoPhish as the test groups and campaigns stack up.
        </p>
        <input type="hidden" name="delete_all" value="true">
        <button type="submit" class="btn btn-danger">Delete Everything!</button>
    </div>
</form>

</div>