.venv
.mypy_cache
__pycache__
.python-version
.DS_Store
src/.DS_Store


# Controller
controller/.env
controller/src/staticfiles
controller/src/celerybeat-schedule
controller/src/celerybeat.pid

#Pycharm
.idea/

#VSCode
.vscode/
/controller/src/celerybeat-schedule
/controller/src/celerybeat.pid
/controller/src/tasks/logs/celery.log
/controller/CPAAdmin/CPAAdmin/AdminUI/node_modules
/controller/CPAAdmin/CPAAdmin/AdminUI/node_modules/*
/controller/CPAAdmin/CPAAdmin/AdminUI/dist

# Python env
env/
