.env
.terraform
!etc/vscode/.env
.venv
.mypy_cache
__pycache__
.python-version
.DS_Store
src/.DS_Store
.coverage

# Client
/client/AdminUI/node_modules
/client/AdminUI/node_modules/*
/client/AdminUI/dist
client/.env
/client/AdminUI/package-lock.json



# Controller
controller/.env
controller/src/staticfiles
controller/src/celerybeat-schedule
controller/src/celerybeat.pid
controller/src/scripts/data/created_dummy_data_*.json
controller/src/scripts/data/db_dumps/*.dump
controller/.coverage
controller/htmlcov/
controller/node_modules
controller/Scripts/
controller/Lib
controller/pyvenv.cfg
controller/src/rds-combined-ca-bundle.pem

# Gophish
gophish/.env

#Pycharm
.idea/

#VSCode
.vscode/
/controller/src/celerybeat-schedule
/controller/src/celerybeat.pid
/controller/src/tasks/logs/celery.log
/controller/scripts/data/created_*

# Python env
env/

# Terraform
aws/terraform/.terraform
aws/.env
.terraform
