<div class="p-3">
    <div class="d-flex flex-row mb-3">
        <div class="d-flex flex-grow-1 flex-column">
            <div class="d-flex flex-row mb-3">
                <h1>Test</h1>
            </div>
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Recommendation Name*</mat-label>
                    <input type="text" trim="blur" matInput placeholder="Recommendation Name">
                    <mat-error>
                        Recommendation name is <strong>required</strong>
                    </mat-error>
                    <mat-error>
                        Recommendation name may not contain only spaces
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row flex-grow-1 justify-content-end">
        <div matTooltip="A recommendation must have all required fields filled" matTooltipPosition="right"
            matTooltipShowDelay="500">
            <button mat-raised-button>Save Recommendation
            </button>
        </div>
        <button mat-flat-button>Cancel</button>
    </div>
</div>