<div class="p-3">
    <h1>Add Continuous Phishing Organization</h1>
    <div class="d-flex flex-row mb-3">
        <div class="d-flex flex-grow-1 flex-column">
            <div class="d-flex flex-row mb-3">
                <button mat-raised-button color="primary">Create New</button>
                <button mat-raised-button color="accent">Edit</button>
                <button mat-raised-button color="warn">Delete</button>
            </div>
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Organization Id</mat-label>
                    <input type="text" matInput disabled placeholder="Organization Id" [formControl]="organizationId">
                </mat-form-field>
            </div>
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Organization Name</mat-label>
                    <input type="text" matInput placeholder="Organization Name" [formControl]="organizationName"
                    [errorStateMatcher]="matchOrganizationName">
                    <mat-error *ngIf="organizationName.hasError('required')">
                    Organization name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
                <div class="d-flex flex-row" >
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Organization Identifier</mat-label>
                    <input type="text" matInput placeholder="Organization Identifier" [formControl]="organizationIdentifier"
                    [errorStateMatcher]="matchOrganizationIdentifier">
                    <mat-error *ngIf="organizationIdentifier.hasError('required')">
                    Organization identifier is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- Place holder for Government Type -->
            <div class="d-flex flex-row" >
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Address 1</mat-label>
                    <input type="text" matInput placeholder="Address 1" [formControl]="address1"
                    [errorStateMatcher]="matchAddress1">
                    <mat-error *ngIf="address1.hasError('required')">
                        Address 1 is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Address 2</mat-label>
                    <input type="text" matInput placeholder="Address 2" [formControl]="address2">
                </mat-form-field>
            </div>
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>City</mat-label>
                    <input type="text" matInput placeholder="city" [formControl]="city"
                    [errorStateMatcher]="matchCity">
                    <mat-error *ngIf="city.hasError('required')">
                        City is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>State</mat-label>
                    <input type="text" matInput placeholder="State" [formControl]="state"
                    [errorStateMatcher]="matchState">
                    <mat-error *ngIf="state.hasError('required')">
                        State is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row">
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Zip</mat-label>
                    <input type="text" matInput placeholder="Zip" [formControl]="zip"
                    [errorStateMatcher]="matchZip">
                    <mat-error *ngIf="zip.hasError('required')">
                        Zip is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <h1>Organization Contacts</h1>
    <div class="d-flex flex-row mb-5">
        <div class="d-flex flex-grow-1 flex-column">
            <div class="d-flex flex-row">
                <button mat-raised-button color="primary" (click)="showAddContact()" *ngIf="!addContact">Add Contact</button>
            </div>
            
            <div class="d-flex flex-row p-2 flex-grow-1" *ngIf="addContact">
                <mat-card style="width:100%">
                    <mat-card-header>
                        <mat-card-title>Add Contact</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="d-flex flex-row">
                            <div class="d-flex flex-column mr-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input type="text" matInput placeholder="First Name" [formControl]="firstName"
                                    [errorStateMatcher]="matchFirstName">
                                    <mat-error *ngIf="firstName.hasError('required')">
                                        First name <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-column mr-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input type="text" matInput placeholder="Last Name" [formControl]="lastName"
                                    [errorStateMatcher]="matchLastName">
                                    <mat-error *ngIf="lastName.hasError('required')">
                                        Last name <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-column">
                                <mat-form-field appearance="outline">
                                    <mat-label>Title</mat-label>
                                    <input type="text" matInput placeholder="Title" [formControl]="title">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="d-flex flex-column mr-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input type="text" matInput placeholder="Email" [formControl]="email"
                                    [errorStateMatcher]="matchEmail">
                                    <mat-error *ngIf="email.hasError('required')">
                                        Email <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="email.hasError('email')">
                                        Check email format
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-column mr-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Office Phone</mat-label>
                                    <input type="text" matInput placeholder="Office Phone" [formControl]="officePhone">
                                </mat-form-field>
                            </div>
                            <div class="d-flex flex-column">
                                <mat-form-field appearance="outline">
                                    <mat-label>Mobile Phone</mat-label>
                                    <input type="text" matInput placeholder="Mobile Phone" [formControl]="mobilePhone">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="d-flex flex-row flex-grow-1">
                            <mat-form-field appearance="outline" class="flex-grow-1">
                                <mat-label>Contact Notes</mat-label>
                                <textarea matInput></textarea>
                            </mat-form-field>
                        </div>
                        <button mat-raised-button color="primary">Add</button>
                        <button mat-flat-button (click)="showAddContact()">Close</button>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="d-flex flex-row flex-grow-1 mt-3">
                <table mat-table [dataSource]="contactDataSource" class="mat-elevation-z1 flex-grow-1" *ngIf="checkDataSourceLength()">                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.firstName + element.lastName}} </td>
                    </ng-container>
                  
                    <!-- Title Column -->
                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef> Title </th>
                      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                  
                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                  
                    <!-- Phone Column -->
                    <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef> Phone </th>
                      <td mat-cell *matCellDef="let element"> {{element.mobilePhone}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <div class="alert alert-danger flex-grow-1" role="alert" *ngIf="!checkDataSourceLength()">
                    No contacts Available
                  </div>
            </div>
        </div>
    </div>
</div>