<div class="p-3">
    <h1>{{ action | titlecase }} Subscription</h1>

    <div style="display: block;" class="mb-5">
        <div>
            <mat-label class="h6">Customer</mat-label>
        </div>

        <div class="p-2 mat-card ml-0 w-50 mb-1">
            <div>{{customer?.name}}</div>
            <div>{{customer?.identifier}}</div>
            <div>{{customer?.address_1}}</div>
            <div>{{customer?.address_2}}</div>
            <div>{{customer?.city}}, {{customer?.state}} {{customer?.zip_code}}</div>
        </div>

        <div class="mb-3">
            <button mat-raised-button color="primary" (click)="showCustomerDialog()">Assign Customer <i
                    class="fa fa-search" style="font-size: 1rem;"></i></button>
        </div>

        <div>
            <div>
                <mat-label class="h6">Primary Contact</mat-label>
            </div>
            <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="primaryContact" (selectionChange)="changePrimaryContact($event)">
                    <mat-option [value]="null">--Select--</mat-option>
                    <mat-option *ngFor="let c of customer?.contact_list" [value]="c.first_name + '_' + c.last_name">
                        {{ c.first_name }} {{ c.last_name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div style="display: block;" class="mb-3">
            <mat-label class="h6">Start Date</mat-label>
            <div>
                <mat-form-field appearance="outline" class="mb-4">
                    <input matInput [matDatepicker]="picker" [min]="startAt" [(ngModel)]="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [startAt]="startAt"></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <mat-label class="h6">Customer Website</mat-label>
                <div class="text-muted">The customer's page will be analyzed
                    to send phishing emails relevant to their industry.
                </div>
                <input [(ngModel)]="url" type="text" class="form-control mb-4">
            </div>

            <div class="text-muted">Enter words that describe the
                organization, separated by commas.
                They will be used to select applicable templates.</div>
            <mat-form-field class="w-100">
                <mat-label>Applicability Word Tags</mat-label>
                <textarea matNativeControl cdkTextareaAutosize class="form-control mb-4" [(ngModel)]="tags"></textarea>
                <mat-error *ngIf="
                      true">
                    Tags <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <div class="mb-3">
                <div>
                    <mat-label class="h6">CSV Content</mat-label>
                </div>
                <div class="text-muted">Upload an Excel spreadsheet or comma-separated value text 
                    file containing the list of contacts or enter them
                    directly in the field below.
                </div>
                <div class="text-muted">Format: email, firstname, lastname, position</div>
            </div>

            <button mat-raised-button color="primary" class="mb-3" (click)="openFileBrowser($event)">
                Upload Email Targets List <i class="fa fa-upload"></i>
            </button>
            <input id="csvUpload" type="file" accept=".csv,.xls,.xlsx" (change)="fileSelect($event)"
                class="d-none">
            
            <mat-form-field class="w-100">
                <mat-label>Target Emails</mat-label>
                <textarea matNativeControl cdkTextareaAutosize class="form-control" [(ngModel)]="csvText"></textarea>
            </mat-form-field>
        </div>

        <div class="text-right mt-3">
            <button mat-raised-button color="primary" *ngIf="pageMode == 'CREATE'"
                (click)="createAndLaunchSubscription()">Create and Launch Subscription
            </button>
        </div>

    </div>
</div>