<div class="p-3 pb-5">
    <h1>Create Subscription</h1>

    <div class="d-flex flex-row mb-5">
        <div style="border-right: 1px solid #000" class="pr-2">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row mb-3">
                    <button mat-raised-button color="primary">Create a Contact/Organization</button>
                    <button mat-icon-button color="primary">
                        <i class="fa fa-search" style="font-size: 1rem;"></i>
                    </button>
                </div>
                <mat-form-field appearance="outline">
                    <mat-select (change)="changeContact($event)">
                        <mat-option value="" selected>Select Contact</mat-option>
                        <mat-option *ngFor="let c of contactsForOrg" [value]="c.id">{{c.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div style="border-right: 1px solid #000" class="pl-2 pr-2">
            <div>{{currentOrg.orgName}}</div>
            <div>{{currentOrg.orgAbbrev}}</div>
            <div>{{currentOrg.orgAddr1}}</div>
            <div>{{currentOrg.orgCity}}, {{currentOrg.orgState}}</div>
            <div>{{currentOrg.orgType}}</div>
        </div>
        <div class="pl-2">
            <div>{{currentContact.firstName}} {{currentContact.lastName}}
                {{currentContact.title}}</div>
            <div>{{currentContact.phone}}</div>
            <div>{{currentContact.email}}</div>
        </div>
    </div>


    <div style="display: block;" class="mb-3">
        <mat-label class="h6">Start Date</mat-label>
        <div>
            <mat-form-field appearance="outline" class="mb-4">
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>


        <div>
            <mat-label class="h6">Applicability Word Tags</mat-label>
            <div class="text-muted">Enter words that describe the
                organization, separated by commas.
                They will be used to select applicable templates.</div>
            <textarea autosize appearance="outline" class="form-control mb-4"></textarea>
        </div>

        <div>
            <div>
                <mat-label class="h6">CSV Content</mat-label>
            </div>
            <div class="text-muted">Upload a CSV file containing the list of contacts or enter them
                directly in the field below.
            </div>
        </div>

        <button mat-raised-button color="primary" class="mb-3">
            Upload Email Targets List <i class="fa fa-upload"></i>
        </button>


        <div class="text-muted">Format: email, firstname, lastname, position</div>
        <textarea autosize placeholder="Enter targets as CSV" class="form-control"></textarea>
    </div>


    <div class="text-right">
        <button mat-raised-button color="primary" (click)="createAndLaunchSubscription()">Create and Launch Subscription
            Service</button>
    </div>

</div>