<div class="p-3">
    <h1>Create Subscription</h1>

    <div class="d-flex flex-row mb-5">
        <div style="border-right: 1px solid #000" class="pr-2">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <button mat-raised-button color="primary">Create a Contact/Organization</button>
                    
                        <button mat-icon-button color="primary">
                            <i class="fa fa-search" style="font-size: 1rem;"></i>
                        </button>
                    
                </div>
                <mat-form-field>
                <mat-select>
                    <mat-option>Select Contact</mat-option>
                    <mat-option *ngFor="let c of contactsForOrg" [value]="c.id">{{c.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            </div>
        </div>
        <div style="border-right: 1px solid #000" class="pl-2 pr-2">
            <div>{{orgContact.organization.orgName}}</div>
            <div>{{orgContact.organization.orgAbbrev}}</div>
            <div>{{orgContact.organization.orgAddr1}}</div>
            <div>{{orgContact.organization.orgCity}}, {{orgContact.organization.orgState}}</div>
            <div>{{orgContact.organization.orgType}}</div>
        </div>
        <div class="pl-2">
            <div>{{orgContact.contact.firstName}} {{orgContact.contact.lastName}} {{orgContact.contact.title}}</div>
            <div>{{orgContact.contact.phone}}</div>
            <div>{{orgContact.contact.email}}</div>
        </div>
    </div>


    <div class="d-flex flex-column mb-3">
        <mat-label>Applicability Word Tags</mat-label>
        <i>Enter words that describe the
            organization, separated by commas.
            They will be used to select applicable templates.</i>
        <textarea autosize class="form-control mb-4"></textarea>

        <button mat-raised-button color="primary" class="mb-3 col-6">
            Upload Email Targets List
        </button>

        <mat-label>CSV Content</mat-label>
        <i>email,firstname,lastname,position</i>
        <textarea autosize placeholder="Enter CSV content" class="form-control"></textarea>
    </div>

    <div class="text-right">
        <button mat-raised-button color="primary">Create and Launch Subscription Service</button>
    </div>

</div>