<div class="container-fluid" [style.height.px]="body_content_height">
  <div class="row h-100">
    <!-- <div class="col-4 border-right h-100 p-3 flex-container flex-column">
      <mat-form-field class="w-100 pb-3" appearance="outline">
        <mat-label>Search</mat-label>
        <input [(ngModel)]="search_input" matInput />
      </mat-form-field>
      <mat-list class="overflow-auto flex-1 template-list" appearnce="outline">
        <h3 matSubheader>(Deception Score) : Template Name</h3>
        <mat-list-item #templateList
          *ngFor="
            let template of template_list
              | listfilter
                : 'name,descriptive_words,deception_score'
                : search_input
          "
        >
          <button
            mat-button
            class="w-100 text-left"
            (click)="selectTemplate(template.template_uuid)"
          >
            ({{ template.deception_score }}) : {{ template.name }}
          </button>
        </mat-list-item>
      </mat-list>
    </div> -->
    <div
      class="col-8 h-100 d-flex flex-column mt-2"
      [formGroup]="currentTemplateFormGroup"
    >
      <div
        #selectedTemplateTitle
        class="flex-container flex-row selected-template"
      >
        <mat-form-field
          class="w-100 selected_template_title"
          appearance="outline"
        >
          <mat-label>Template Name</mat-label>
          <input
            formControlName="templateName"
            matInput
            placeholder="Enter a template name"
            [errorStateMatcher]="matchTemplateName"
          />
          <mat-error
            *ngIf="
              currentTemplateFormGroup.controls.templateName.hasError(
                'required'
              )
            "
          >
            Template name <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <!-- <button
          [disabled]="
            currentTemplateFormGroup.controls.templateUUID.value == null
          "
          [routerLink]="[
            '/deceptioncalculator',
            currentTemplateFormGroup.controls.templateUUID.value
          ]"
          mat-raised-button
          color="primary"
        >
          Deception Calculator
        </button> -->
      </div>
      <div class="d-flex">
        <mat-tab-group
          class="w-100"
          #tabs
          (selectedTabChange)="onTabChanged($event)"
        >
          <!-- <mat-tab label="HTML View" class="mb-3"> -->
          <mat-tab>
            <ng-template mat-tab-label>
              <span
                [ngClass]="{
                  'tab-form-error':
                    currentTemplateFormGroup.controls.templateHTML.hasError(
                      'required'
                    ) && currentTemplateFormGroup.controls.templateHTML.touched
                }"
                >HTML View
              </span>
            </ng-template>
            <div>
              <angular-editor
                #angularEditor
                [style.height.px]="text_editor_height"
                formControlName="templateHTML"
                [config]="editorConfig"
              ></angular-editor>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span
                [ngClass]="{
                  'tab-form-error':
                    currentTemplateFormGroup.controls.templateHTML.hasError(
                      'required'
                    ) && currentTemplateFormGroup.controls.templateHTML.touched
                }"
                >Source View
              </span>
            </ng-template>
            <div class="d-flex flex-column mt-2">
              <mat-form-field class="flex-grow-1">
                <mat-label>Template HTML content</mat-label>
                <textarea
                  [style.height.px]="text_editor_height"
                  [style.margin-bottom.px]="text_area_bot_marg"
                  matInput
                  formControlName="templateHTML"
                  [value]="currentTemplateFormGroup.value.templateHTML"
                  placeholder="Select a template on the left to edit"
                  class="flex-1"
                  style="resize: none;"
                ></textarea>
              </mat-form-field>
            </div>
          </mat-tab>
          <!-- <mat-tab label="Template Attributes"
          [ngClass]="{'testing' : currentTemplateFormGroup.controls.templateFromAddress.hasError('required')}"
          class="mb-3"> -->

          <mat-tab>
            <ng-template mat-tab-label>
              <span
                [ngClass]="{
                  'tab-form-error':
                    (currentTemplateFormGroup.controls.templateSubject.hasError(
                      'required'
                    ) &&
                      currentTemplateFormGroup.controls.templateSubject
                        .touched) ||
                    (currentTemplateFormGroup.controls.templateFromAddress.hasError(
                      'required'
                    ) &&
                      currentTemplateFormGroup.controls.templateFromAddress
                        .touched)
                }"
                >Template Attributes
              </span>
            </ng-template>
            <div
              class=" p-3 flex-column"
              [style.height.px]="text_editor_height"
            >
              <div class="d-flex flex-column pb-3">
                <mat-form-field appearance="outline">
                  <mat-label>Subject*</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Template Subject"
                    formControlName="templateSubject"
                    [errorStateMatcher]="matchSubject"
                  />
                  <mat-error
                    *ngIf="
                      currentTemplateFormGroup.controls.templateSubject.hasError(
                        'required'
                      )
                    "
                  >
                    Template subject <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="d-flex flex-column pb-3">
                <mat-form-field appearance="outline">
                  <mat-label>From Address*</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Example@user.com"
                    formControlName="templateFromAddress"
                    [errorStateMatcher]="matchFromAddress"
                  />
                  <mat-error
                    *ngIf="
                      currentTemplateFormGroup.controls.templateFromAddress.hasError(
                        'required'
                      )
                    "
                  >
                    From address <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="d-flex flex-column pb-3">
                <mat-form-field appearance="outline">
                  <mat-label>Description</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Template Description..."
                    formControlName="templateDescription"
                  />
                </mat-form-field>
              </div>
              <div class="d-flex flex-column pb-3">
                <mat-form-field appearance="outline" class="flex-grow-1">
                  <mat-label>Descriptive Words (CSV)</mat-label>
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="10"
                    placeholder="Template Descriptive Words Seperated By A Comma"
                    formControlName="templateDescriptiveWords"
                  ></textarea>
                </mat-form-field>
              </div>

              <div class="d-flex flex-column pb-3">
                <div class="d-flex flex-row">
                  <!-- RETIRED CHECKBOX -->
                  <mat-checkbox formControlName="templateRetired" class="mt-5 mr-3">
                    <mat-label>Retired</mat-label>
                  </mat-checkbox>
                   <!-- RETIRED DESCRIPTION -->
                  <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Template Retired Description</mat-label>
                    <textarea
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="5"
                      cdkAutosizeMaxRows="10"
                      placeholder="Template Retired Description"
                      formControlName="templateRetiredDescription"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>

            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="flex-container flex-row save_container pb-3">
        <!-- <button
          id="save-button"
          class="d-flex"
          mat-raised-button
          color="primary"
          (click)="setEmptyTemplateForm()"
        >
          New Template
        </button> -->
        <button
          id="delete-button"
          class="d-flex"
          mat-raised-button
          color="warn"
          (click)="deleteTemplate()"
          *ngIf=templateId
        >
        Delete Template
      </button>
        <button 
          id="save-button"
          class="d-flex ml-auto"
          mat-raised-button
          color="primary"
          (click)="saveTemplate()"        >
          Save Template
        </button>
      </div>
    </div>
    <div class="col-4 h-100 testing border-left " 
    [formGroup]="currentTemplateFormGroup">
      <h2>Deception Calculations</h2>
      <div class="d-flex flex-column overflow-auto deception_calc_content ">
        <div class="">
          <mat-label class="mb-3">Apperance & Grammar</mat-label>
          <mat-radio-group appearance="outline" class="row radio_selection_group"  formControlName="grammar">
              <mat-radio-button [value]=0 radioGroup="grammarRadioGroup">0 = Poor</mat-radio-button>
              <mat-radio-button [value]=1 radioGroup="grammarRadioGroup">1 = Decent</mat-radio-button>
              <mat-radio-button [value]=2 radioGroup="grammarRadioGroup">2 = Proper</mat-radio-button>
          </mat-radio-group>
      </div>
        <div class="" >
            <mat-label class="mb-3">Link Domain</mat-label>
            <mat-radio-group appearance="outline" class="row radio_selection_group"  formControlName="link_domain">
                <mat-radio-button [value]=0 radioGroup="linkRadioGroup">0 = Fake</mat-radio-button>
                <mat-radio-button [value]=1 radioGroup="linkRadioGroup">1 = Spoofed / Hidden</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="" >
            <mat-label class="mb-3">Logo / Graphics</mat-label>
            <mat-radio-group appearance="outline" class="row radio_selection_group"  formControlName="logo_graphics">
                <mat-radio-button [value]=0 radioGroup="graphicsRadioGroup">0 = Fake / None</mat-radio-button>
                <mat-radio-button [value]=1 radioGroup="graphicsRadioGroup">1 = Spoofed / HTML</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="" >
            <mat-label class="mb-3">Sender External</mat-label>
            <mat-radio-group appearance="outline" class="row radio_selection_group"  formControlName="external">
                <mat-radio-button [value]=0 radioGroup="senderExternalRadioGroup">0 = Fake / NA</mat-radio-button>
                <mat-radio-button [value]=1 radioGroup="senderExternalRadioGroup">1 = Spoofed</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="" >
            <mat-label class="mb-3">Internal</mat-label>
            <mat-radio-group appearance="outline" class="row radio_selection_group"  formControlName="internal">
                <mat-radio-button [value]=0 radioGroup="internalRadioGroup">0 = Fake / NA</mat-radio-button>
                <mat-radio-button [value]=1 radioGroup="internalRadioGroup">1 = Unknown Spoofed</mat-radio-button>
                <mat-radio-button [value]=2 radioGroup="internalRadioGroup">2 = Known Spoofed</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="" >
            <mat-label class="mb-3">Authoritative</mat-label>
            <mat-radio-group appearance="outline" class="row radio_selection_group"  formControlName="authoritative">
                <mat-radio-button [value]=0 radioGroup="authoritativeRadioGroup">0 = None</mat-radio-button>
                <mat-radio-button [value]=1 radioGroup="authoritativeRadioGroup">1 = Corprate / Local</mat-radio-button>
                <mat-radio-button [value]=2 radioGroup="authoritativeRadioGroup">2 = Federal / State</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="" >
            <mat-label class="mb-3">Relevancy Organization</mat-label>
            <mat-radio-group appearance="outline" class="row radio_selection_group"  formControlName="organization">
                <mat-radio-button [value]=0 radioGroup="relevancyOrganizationGroup">0 = No</mat-radio-button>
                <mat-radio-button [value]=1 radioGroup="relevancyOrganizationGroup">1 = Yes</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="" >
            <mat-label class="mb-3">Public News</mat-label>
            <mat-radio-group appearance="outline" class="row radio_selection_group"  formControlName="public_news">
                <mat-radio-button [value]=0 radioGroup="publicNewsGroup">0 = No</mat-radio-button>
                <mat-radio-button [value]=1 radioGroup="publicNewsGroup">1 = Yes</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="check-box-wrapper">
          <mat-label class="mb-3">Behavior</mat-label>
            <div class="deception_checkboxes mt-2 ml-3" >
                <mat-checkbox formControlName="fear">Fear </mat-checkbox>
                <mat-checkbox formControlName="curiosity">Duty or Obligation</mat-checkbox>
                <mat-checkbox formControlName="duty_obligation">Curiosity</mat-checkbox>
                <mat-checkbox formControlName="greed">Greed</mat-checkbox>
            </div>
        </div>
        <div class="d-flex flex-row">
          <mat-form-field appearance="outline" class="flex-grow-1" >
              <mat-label>Final Deception Score</mat-label>
              <input type="text" matInput placeholder="DeceptionScore" formControlName="final_deception_score">
          </mat-form-field>
       </div>
        

  </div>
</div>
