@charset "UTF-8";
@page {
  size: Letter;
  margin: 2.5cm;
}

* {
    font-family: Arial, sans-serif;
}

h2 {
  color: #174A91;
  padding-bottom: 15px;
}

.averages {
  text-align: center;
}

#phishLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#cisaLogo {
  display: block;
  margin: auto;
  text-align: center;
  width: 50%;
}

#reportTitle {
  font-size: 70px;
  text-align: center;
  color: #174A91;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#reportDate {
  text-align: center;
  color: #174A91;
  padding-top: 50px;
  padding-bottom: 300px;
  page-break-after: always;
}

/* Cirlce instead of a box on the averages.
.circle {
  width:250px;
  height:250px;
  border-radius:250px;
  font-size:45px;
  color:#fff;
  line-height:250px;
  text-align: center;
  background:#174A91;
  margin: auto;
}
*/

.timeBox {
  height: 250px;
  font-size: 60px;
  text-align: center;
  border: 1px solid black;
  background-color: #F5F5F5;
  color: #174A91;
  padding-top: 25px;
  margin-bottom: 150px;
}

ul {
  text-align: center;
  list-style-position: inside;
}

#campaignProgress {
  height: 30px;
  width: 35%;
  margin: auto;
}

#piechartTwo {
  margin-bottom: 100px;
}

#chartThree {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

#campaignNumbers {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

#primaryContact {
  border: 1px solid black;
  background-color: #F5F5F5;
  text-align: center;
}

#cisaContact {
  border: 1px solid black;
  background-color: #F5F5F5;
  text-align: center;
}