.container-fluid {
  padding: 0 !important;
}

.topBanner {
  background-color: #1B2352;
  height: 225px;
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1B2352;
  overflow-x: hidden;
  color: white;
}

.main {
  margin-left: 20%;
}

#phishLogo {
  text-align: center;
  margin-top: -15%;
  margin-left: -70%;
  position: relative;
  z-index: 1;
}

#cisaLogo {
  text-align: right;
  margin-top: 0.5%;
  margin-right: 0.5%;

}

#reportDate {
  position: relative;
  z-index: 1;
  text-align: left;
  color: black;
  background-color: white;
  margin-top: 0%;
  padding-top: 5px;
  padding-left: 25px;
  height: 50px;
}

#reportTitle {
  text-align: center;
  margin-top: -500px;
  padding-top: -100px;
  position: relative;
  z-index: 10;
}

#averageClickTitle, #averageReportTitle {
  margin-top: 100px;
  color: #174A91;
  text-align: center;
}

#averageClickTime, #averageReportTime {
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
  transform: translate(0%, 125%);
  color: #174A91
}

.circles {
  text-align: center;
  transform: translate(0%, -35%);
}

#campaignProgressText {
  margin-top: 100px;
  text-align: center;
}

#campaignProgress {
  height: 30px;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid black;
}

#piechart {
  margin-top: 100px;
  margin-left: 20%;
  margin-bottom: 50px;
}

#piechartTwo {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 6vw;
}

#columnchart {
  margin-bottom: 50px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;

}

#gonePhishingImage {
  position: relative;
  z-index: 1;
}

#primaryContact {
  padding-top: 25px;
  color: white;
  position: relative;
  z-index: 1;
  text-align: left;
  width: 15%;
  margin-left: 0.5%;
}

#cisaContact {
  padding-top: 25px;
  color: white;
  position: relative;
  z-index: 1;
  text-align: left;
  width: 15%;
  margin-left: 0.5%;
}

#numbersTitle {
  color: white;
  position: relative;
  z-index: 1;
  text-align: left;
  width: 15%;
  margin-left: 0.5%;
}

#campaignNumbers {
  color: white;
  position: relative;
  z-index: 1;
  text-align: left;
  width: 12%;
  border: 1px solid #FDC010;
  margin-left: 0.5%;
  padding-left: 0.2%;
}