@charset "UTF-8";
@page {
  size: Letter;
  margin: 2.5cm;
}

* {
    font-family: Arial, sans-serif;
}

.container-fluid {
  padding: 0;
}

#cover, #pageOne, #pageTwo, #pageThree, #pageFour, #pageFive, #pageSix, #pageSeven, #pageEight, #pageNine, #pageTen, #pageEleven, #pageTwelve {
  page-break-after: always;
}

#bluePhishLogo {
  margin-right: -2.5%;
  text-align: right;
}

#blueHacker {
  margin-top: 8%;
  margin-left: 10%;
}

#reportTitle {
  font-size: 125px;
  color: #015596;
  margin-top: 7.5%;
  text-align: center;
}

#preparationDetails {
  margin-top: 20%;
  margin-left: 33%;
  text-align: center;
}

#dhsContactDetails {
  margin-top: 15%;
  margin-left: 20%;
  width: 60%;
  text-align: center;
}

#cisa_logo {
  margin-top: 12%;
  margin-left: 15%;
}

#centerCisaLogo {
  text-align: center;
}

#assessmentTitle {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

#subscriptionDetailsTable {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: 25%;
  width: 60%;
}

#datesTable {
  margin-top: 5%;
  margin-right: auto;
  margin-left: 25%;
  width: 60%;
}

#reportInstructions {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#executiveReportTitle {
  width: 60%;
  color: #015596;
}

.executiveReportDetails {
  margin-top: 2.5%;
}

#userMetrics {
  margin-left: 10%;
  border: 1px solid black;
}

#subNotesOne {
  margin-top: 1%;
  margin-left: 10%;
  font-size: 10px;
}

#recommendationsTitle {
  margin-top: 2.5%;
}

#recommendations {
  width: 80%;
}

#summaryTitle {
  color: #015596;
}

#summary {
  margin-bottom: 5%;
}

#companyAverageText {
  text-align: center;
}

#industryAverageText {
  text-align: center;
}

#sectorAverageText {
  text-align: center;
}

#companyAverageBox {
  color: white;
  background-color: #006AA7;
  font-size: 75px;
  height: 175px;
  width: 250px;
  border: 1px solid black;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10%;
}

#industryAverageBox {
  color: white;
  background-color: #006AA7;
  font-size: 75px;
  height: 175px;
  width: 250px;
  border: 1px solid black;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10%;
}

#sectorAverageBox {
  color: white;
  background-color: #006AA7;
  font-size: 75px;
  height: 175px;
  width: 250px;
  border: 1px solid black;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10%;
}

#yearTrendsTitle {
  margin-top: 10%;
}

#trendLineGraph {
  margin-left: 5%;
  width: 80%;
  height: 400px;
}

#trendStatistics {
  margin-top: 3%;
}

#subNotesTwo {
  margin-top: 2.5%;
  font-size: 10px;
}

#phishingSuccessGraph {
  margin-top: 5%;
  margin-left: 10%;
}

#levelGraphTitle {
}

#numbersByLevelGraph {
  margin-left: 5%;
  width: 80%;
  height: 400px;
}

#methodologyTitle {
  color: #015596;
}

#methodologyText {
  margin-top: 2.5%;
  width: 80%;
}

#testingSummaryTitle {
  margin-top: 7.55%;
  color: #015596;
}

#testingSummaryText {
  margin-top: 2.5%;
  width: 80%;
}

#templateOverviewTable {
  margin-top: 2.5%;
  width: 80%
}

#rateComparisonTitle {

}

#rateComparisonText {
  margin-top: 1%;
  width: 80%;
}

#rateComparisonTable {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid black;
  text-align: center;
}

#timeComparisonTitle {
}

#timeComparisonText {
  margin-top: 3%;
  width: 80%;
}

#timeComparisonTable {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid black;
  text-align: center;
}

#intervalGraphDetails {
  margin-top: 10%;
  width: 80%;
}

#timeIntervalTitle {
  margin-top: 5%;
}

#timeIntervalGraph {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 400px;
}

#timeComplexityTitle {
  margin-top: 5%;
}

#timeComplexityGraph {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 400px;
}

#closingTitle {
  color: #015596;
}

#closingText {
  margin-top: 5%;
  width: 80%;
}

#appendixOneTitle {
}

#appendixOneText {
  margin-top: 2.5%;
  width: 80%;
}

#levelTitle {
  margin-top: 5%;
}

#levelText {
  margin-top: 3%;
  margin-left: 10%;
  width: 60%;
}

#dumbPhishTitle {
  color: #015596;
}

#dumbPhishTable {
  margin-top: 10%;
  margin-left: 15%;
}

#dumbPhishDetails {
  margin-top: 3%;
  margin-left: 15%;
  width: 60%;
}

#dumbEmailBody {
  margin-left: 5%;
}

#mediumPhishTitle {
  color: #015596;
}

#mediumPhishTable {
  margin-top: 10%;
  margin-left: 15%;
}

#mediumPhishDetails {
  margin-top: 3%;
  margin-left: 15%;
  width: 60%;
}

#mediumEmailBody {
  margin-left: 5%;
}

#hardPhishTitle {
  color: #015596;
}

#hardPhishTable {
  margin-top: 10%;
  margin-left: 15%;
}

#hardPhishDetails {
  margin-top: 3%;
  margin-left: 15%;
  width: 60%;
}

#hardEmailBody {
  margin-left: 5%;
}