@charset "UTF-8";
@page {
  size: Letter;
  margin: 2.5cm;
}

.topBanner {
  background-color: #1B2352;
  height: 225px;
  width: 1130px;
  margin-left: -10%;
  margin-top: -10%;
}

#cisaLogo {
  text-align: right;
  margin-top: 2.5%;
  margin-right: -5%;
}

.sidebar {
  height: 100%;
  width: 28.85%;
  position: fixed;
  top: 0;
  left: -10.25%;
  background-color: #1B2352;
  overflow-x: hidden;
  color: white;
}

#phishLogo {
  text-align: center;
  margin-top: -25%;
  margin-left: -80%;
  position: relative;
  z-index: 1;
}

#reportDate {
  position: relative;
  z-index: 1;
  text-align: left;
  color: black;
  background-color: white;
  margin-top: -1.5px;
  margin-left: -9.4%;
  padding-top: 5px;
  padding-left: 7.5px;
  height: 50px;
}

#gonePhishingImage {
  position: relative;
  z-index: 1;
  margin-left: -9.75%;
}

#primaryContact {
  padding-top: 25px;
  color: white;
  position: relative;
  z-index: 1;
  text-align: left;
  width: 15%;
  margin-left: 0.5%;
}

#cisaContact {
  padding-top: 25px;
  color: white;
  position: relative;
  z-index: 1;
  text-align: left;
  width: 15%;
  margin-left: 0.5%;
}

#numbersTitle {
  color: white;
  position: relative;
  z-index: 1;
  text-align: left;
  width: 15%;
  margin-left: 0.5%;
}

#campaignNumbers {
  color: white;
  position: relative;
  z-index: 1;
  text-align: left;
  width: 12%;
  border: 1px solid #FDC010;
  margin-left: 0.5%;
  padding-left: 0.2%;
}

#reportTitle {
  text-align: center;
  margin-top: -116%;
  margin-left: 24%;
  position: relative;
  z-index: 10;
}

#averageClickTitle, #averageReportTitle {
  margin-top: 100px;
  color: #174A91;
  text-align: center;
}

#averageClickTime, #averageReportTime {
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
  transform: translate(0%, 125%);
  color: #174A91
}

.circles {
  text-align: center;
  transform: translate(0%, -35%);
}

#campaignProgressText {
  margin-top: 5%;
  text-align: center;
}

#campaignProgress {
  height: 30px;
  width: 40%;
  margin: auto;
  margin-top: 1%;
  border: 1px solid black;
}

#piechart {
  margin-top: 15%;
  margin-left: 20%;
}

#piechartTwo {
  margin-top: 15%;
  margin-left: 6vw;
}

#columnchart {
  margin-top: 7.5%;
  margin-bottom: 50px;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}