@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@page {
  margin: 2.5cm;
  size: Letter;
}

html {
  background-color: #cecece;
}

body {
  -webkit-print-color-adjust: exact !important;
  font-size: 16px;
  max-width: 1024px;
}

body, html,aside {
  height: 100%;
}

main .container-fluid {
  background-color: #fff;
}

/* Header */

.topBanner {
  background-color: #1B2352;
  height: 170px;
}

.topBanner .col-12 {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 170px;
  justify-content: space-between;
  padding: 0 60px 10px 60px;
}

#cisaLogo img {
  transform: scale(.7);
}

/* Sidebar */

aside {
  background-color: #1B2352;
  color: white;
  line-height: 2em;
  margin: 0;
  overflow-x: hidden;
  padding: 0 0 30px 0;
  width: 35%;
}


#reportDate {
  background: #fff;
  color: #000;
  height: 45px;
  margin-top: -1px;
}

#reportDate h3 {
  font-size: 1.25em;
  font-weight: 400;
  padding: 10px 0 0 60px;
}

#gonePhishingImage {
  margin: 55px 0 0 62px;
  transform: scale(1.3,1.4);
}

#gonePhishingImage img {
  margin-left: -20px;
}

#primaryContact, #cisaContact, #numbersTitle, #campaignNumbers {
  padding-left: 60px;
}

#primaryContact {
  font-size: 1.125em;
  line-height: 2.5em;
  position: relative;
  top: 5px;
  z-index: 10;
}

#primaryContact h2, #numbersTitle h2 {
  font-size: 1.25em;
  margin-bottom: 5px;
}

#primaryContact span {
  line-height: 3em;
}

#numbersTitle {
  margin-top: 70px;
}

#campaignNumbers {
  border: 1px solid #FDC010;
  color: white;
  font-size: 0.925em;
  line-height: 2em;
  margin-left: 60px;
  padding: 10px 10px 20px 15px;
  text-align: left;
  width: 70%;
}

#preparedFor {
  color: lightblue;
  left: 75px;
  margin: 110px 0 5px 60px;
}

#preparedFor span {
  font-size: 1.375em;
  line-height: 1em;
}

/* Main Content */

.main-content {
  background-color: #fff;
  border-left: 15px solid #1B2352;
  border-top: 2px solid #1B2352;
  border-top-left-radius: 30%80px;
  margin: -2px -20px 0 -20px;
  width: 67%;
}

#reportTitle img {
  margin: -140px 0 0 -60px;
  position: relative;
  transform: scale(0.7);
}

h1 strong {
  color: #164A91;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
  font-stretch: extra-condensed;
  left: 75px;
  letter-spacing: 0px;
  line-height: 1em;
  position: relative;
  top: 35px;
}

#reportTitle span {
  color: #164A91;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3em;
  letter-spacing: 65px; 
  line-height: 1em;
  margin-left: 75px;
}

/* Charts */

.data-report {
  position: relative;
}

#averageClickTitle h3, #averageReportTitle h3 {
  color: #174A91;
  font-size: 1.65em;
  font-weight: 400;
  margin-top: 40px;
  text-align: center;
}

#averageClickTime, #averageReportTime {
  color: #174A91;
  font-size: 1.95em;
  line-height: 0.9em;
  margin-top: 100px;
  text-align: center;
}

#averageClickTime span, #averageReportTime span {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1em;
}

.circles {
  margin-top: -160px;
  text-align: center;
  transform: scale(0.8);
}

.circles img {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
}

/* SVG donut */

#donut-charts {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.donut-caption {
  color: #164A91;
  text-align: center;
}

/* SVG Bar Chart */
.caption, .legend-caption {
  fill: #164A91;
}

.legend-caption {
  font-size: 0.75em;
}

.blue-bar {
  fill:#1979a7
}

.dark-blue-bar {
  fill:#164A91;
}

.yellow-bar {
  fill:#FDC010;
}

.bar-chart{
  border: 1px solid #FDC010;
  border-radius: 10px;
  color: #164A91;
  height: auto;
  margin: 20px auto 0 auto;
  text-align: center;
  width: 100%;
}

.bar-chart h2 {
  font-size: 1.25em;
  font-weight: 400;
  margin: 10px;
}

