<style scoped>
    .mat-form-field{
        width:100%;
    }
</style>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="p-3">
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput> 
    </mat-form-field>

    <mat-form-field>
        <mat-label>Organization Name</mat-label>
        <input matInput> 
    </mat-form-field>

    <mat-form-field>
        <mat-label>Subscription Name</mat-label>
        <input matInput> 
    </mat-form-field>

    <mat-form-field>
        <mat-label>Primary Contact</mat-label>
        <input matInput> 
    </mat-form-field>

    <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [formControl]="status" multiple>
          <mat-option *ngFor="let s of statusList" [value]="s">{{s}}</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-checkbox color="primary" >Non-Government</mat-checkbox> <br>
    <mat-checkbox color="primary" >Federal</mat-checkbox>
    

    <div class="mb-3 mt-3">
        <div><strong>Action Items Pending</strong></div>
        <div class="mb-2">
            <a href="#">
                You have 3 new Users Requesting Service
            </a>
        </div>

        <div class="mb-2">
            <a href="#">
                You have 2 Users that have been approved and
                just signed their Rules of engagement.
            </a>
        </div>

        <div class="mb-2">
            <a href="#">
                You have 1 Campaign that just completed their
                templates and need to be reviewed.
            </a>
        </div>
    </div>

    <div class="text-center mb-5">
        <img src="../../../assets/CISA_wordmark-e1584675152693.png" style="width: 10rem">
    </div>
</div>