<h1>{{ mode | titlecase }} Sending Profile</h1>

<form [formGroup]="profileForm">
  <div style="overflow: auto">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input
        formControlName="name"
        matInput
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
      />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Profile name is required</div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Interface Type</mat-label>
      <input formControlName="interfaceType" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>From</mat-label>
      <input
        formControlName="from"
        matInput
        [ngClass]="{ 'is-invalid': submitted && f.from.errors }"
      />
      <div *ngIf="submitted && f.from.errors" class="invalid-feedback">
        <div *ngIf="f.from.errors.required">From address is required</div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Host</mat-label>
      <input
        formControlName="host"
        matInput
        [ngClass]="{ 'is-invalid': submitted && f.host.errors }"
      />
      <div *ngIf="submitted && f.host.errors" class="invalid-feedback">
        <div *ngIf="f.host.errors.required">Host is required</div>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" />
    </mat-form-field>

    <div class="valign-bottom">
      <mat-checkbox formControlName="ignoreCertErrors" color="primary">
        Ignore Certificate Errors
      </mat-checkbox>
    </div>

    <div class="d-none">
      <mat-label>Email Headers</mat-label>
      <div class="d-flex flex-row w-100">
        <mat-form-field appearance="outline" class="mr-2">
          <input
            formControlName="newHeaderName"
            matInput
            placeholder="Custom Header"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-2">
          <input
            formControlName="newHeaderValue"
            matInput
            placeholder="Header Value"
          />
        </mat-form-field>
        <button mat-raised-button color="basic" (click)="addHeader()">
          Add Custom Header
        </button>
      </div>
    </div>

    <div style="max-height: 4rem; overflow-y: auto;" class="d-none">
      <table class="w-100">
        <tr>
          <th>Header</th>
          <th>Value</th>
        </tr>
        <tr *ngFor="let h of headers.keys()">
          <td>{{ h }}</td>
          <td>{{ headers.get(h) }}</td>
          <td>X</td>
        </tr>
      </table>

      <div *ngIf="headers.size == 0">
        No headers defined
      </div>
    </div>
  </div>

  <div class="text-right mt-3">
    <button
      mat-raised-button
      class="add-button"
      color="basic"
      (click)="onCancelClick()"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      class="add-button"
      color="primary"
      (click)="onSaveClick()"
    >
      Save Profile
    </button>
  </div>
</form>
