{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>CPA</title>
	</head>
	<body>
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-4">
                    <h1>CPA</h1>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-8">
                    <h4>Continuous Phishing Assessment</h4>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-4">
                    <a class="btn btn-primary" href="{% url 'reports-page' %}" target="_blank">View Sample Reports</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-secondary" href="{% url 'generate-pdf' %}">Generate PDF</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-danger" href="localhost:5555/dashboard" target="_blank">Launch Flower</a>
                </div>
            </div>
            <div class="row justify-content-start mt-4">
                <div class="col-4">
                    <a class="btn btn-success" href="{% url 'view-campaigns' %}" target="_blank">View Campaigns</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-info" href="{% url 'subscribe' %}">Create a Campaign</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-dark" href="localhost:3333" target="_blank">Launch GoPhish</a>
                </div>
            </div>
        </div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/pop
		per.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>