# Django
SECRET_KEY=changeme
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# Celery
CELERY_BROKER=amqp://rabbitmq:5672
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=test

# MongoDB
DB_HOST=mongodb
DB_PORT=27017
DB_PW=changeme
DB_USER=changeme

# DB
MONGO_INITDB_ROOT_PASSWORD=rootpassword
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_DATABASE=pca_data_dev

# GoPhish
GP_URL=http://gophish:3333/
PHISH_URL=http://gophish:8080/
# Please visit http://localhost:3333/settings to retrieve your gp api key
GP_API_KEY=changeme
SMTP_HOST=ssmtp.example.com:587
SMTP_FROM=Support <support@example.com
SMTP_USER=postmaster@example.com
SMTP_PASS=pass