  <div class="container-fluid" [style.height.px]="body_content_height">

    <div class="d-flex flex-row flex-grow-1 w-100 text-right">
      
    </div>

    <!-- Search Bar -->
    <div class="d-flex flex-row flex-grow-1">
      <div class="d-flex flex-column w-100">
        <mat-form-field class="search-bar" appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="d-inline-flex flex-column ml-2">
          <button mat-raised-button color="primary" class="search-button" (click)=showAdvancedSearch()>Advanced Search</button>
      </div>
      <div class="d-inline-flex flex-column ml-2">
        <button mat-raised-button color="success" class="search-button" (click)="openAddDialog()">Add Contact</button>
      </div>
    </div>

    <!-- ADVANCED SEARCH -->
    <div class="d-flex flex-row p-2 flex-grow-1" *ngIf="advancedSearch">
      <mat-card class="w-100">
        <div class="d-flex flex-row justify-content-center">
          <mat-card-header>
            <mat-card-title>Advanced Search</mat-card-title>
          </mat-card-header>
        </div>
        <mat-card-content [formGroup]="advancedFormGroup">
          <div class="d-inline-flex flex-column w-50">
            <!-- FIRST NAME -->
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input type="text" formControlName="firstName" matInput placeholder="First Name">
            </mat-form-field>
            <!-- LAST NAME -->
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input type="text" formControlName="lastName" matInput placeholder="Last Name">
            </mat-form-field>
            <!-- COMPANY -->
            <mat-form-field appearance="outline">
              <mat-label>Company</mat-label>
              <input type="text" formControlName="company" matInput placeholder="Company Name">
            </mat-form-field>
            <!-- POSITION -->
            <mat-form-field appearance="outline">
              <mat-label>Position</mat-label>
              <input type="text" formControlName="position" matInput placeholder="Position Title">
            </mat-form-field>
            <!-- PHONE NUMBER -->
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input type="text" matInput placeholder="Phone Number" formControlName="phoneNumber">
            </mat-form-field>
          </div>
          <div class="d-inline-flex flex-column w-50 text-center align-items-center">
            <!-- PRIMARY CONTACTS -->
            <mat-slide-toggle class="mb-5" labelPosition="before" formControlName="primaryContacts">Only Search Primary Contacts:</mat-slide-toggle>
            <!-- EXACT MATCHES -->
            <mat-slide-toggle class="mb-5" labelPosition="before" formControlName="exactMatches">Exact Matches Only:</mat-slide-toggle>
            <!-- DATE RANGE -->
            <div>
              <span class="mr-2">Date Contact was Added:</span>
              <mat-form-field [formGroup]="advancedFormGroup">
                <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>
              <span class="mr-2">to</span>
              <mat-form-field [formGroup]="advancedFormGroup">
                <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          
        </mat-card-content>
      </mat-card>
    </div>    

    <!-- Contacts Table -->
    <mat-table [dataSource]="contactsData">

      <!-- Company Name Column -->
      <ng-container matColumnDef="CompanyName">
        <mat-header-cell *matHeaderCellDef>Company Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.CompanyName}} </mat-cell>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="FirstName">
        <mat-header-cell *matHeaderCellDef>First Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.FirstName}} </mat-cell>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="LastName">
        <mat-header-cell *matHeaderCellDef>Last Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.LastName}} </mat-cell>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="Position">
        <mat-header-cell *matHeaderCellDef>Position </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Position}} </mat-cell>
      </ng-container>

      <!-- Primary Contact Column -->
      <ng-container matColumnDef="PrimaryContact">
        <mat-header-cell *matHeaderCellDef>Primary Contact </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.PrimaryContact}} </mat-cell>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="PhoneNumber">
        <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.PhoneNumber}} </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openViewDialog()">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="openUpdateDialog()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" *ngIf="row.PrimaryContact != 'Yes'" (click)="openDeleteDialog()">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  </div>




