<mat-table [dataSource]="subscriptionsData">
    <ng-container matColumnDef="SubscriptionName"><mat-header-cell *matHeaderCellDef>Subscription Name</mat-header-cell>    <mat-cell *matCellDef="let row"> {{row.SubscriptionName}} </mat-cell></ng-container>
    <ng-container matColumnDef="Status"><mat-header-cell *matHeaderCellDef>Status </mat-header-cell>    <mat-cell *matCellDef="let row"> {{row.Status }} </mat-cell></ng-container>
    <ng-container matColumnDef="PrimaryContact"><mat-header-cell *matHeaderCellDef>Primary Contact </mat-header-cell>    <mat-cell *matCellDef="let row"> {{row.PrimaryContact }} </mat-cell></ng-container>
    <ng-container matColumnDef="Customer"><mat-header-cell *matHeaderCellDef>Customer </mat-header-cell>    <mat-cell *matCellDef="let row"> {{row.Customer }} </mat-cell></ng-container>
    <ng-container matColumnDef="LastActionDate"><mat-header-cell *matHeaderCellDef>Last Action Date </mat-header-cell>    <mat-cell *matCellDef="let row"> {{row.LastActionDate }} </mat-cell></ng-container>
    <ng-container matColumnDef="Active"><mat-header-cell *matHeaderCellDef>Active</mat-header-cell>    <mat-cell *matCellDef="let row"> {{row.Active}} </mat-cell></ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
