<ng-container>
  <mat-toolbar class="docs-header" color="primary">
    <div class="header-logo header-logo-background">
      <img src="assets/CPA-logo-white.png" style="height: 3.5rem" />
    </div>
    <button
      mat-icon-button
      class="menu-button"
      type="button"
      aria-label="Toggle sidenav"
      (click)="drawer.toggle()"
    >
      <i class="material-icons">menu</i>
    </button>
    <div class="header-title">{{ layoutSvc.getTitle() }}</div>
    <span class="fill-remaining-space"></span>
    <span class="loggin-user">
      Barry Hansen
      <button
        mat-icon-button
        class="menu-button"
        type="button"
        aria-label="Toggle sidenav"
        [matMenuTriggerFor]="userMenu"
      >
        <i class="material-icons">settings</i>
      </button>
      <mat-menu
        #userMenu="matMenu"
        yPosition="below"
        class="mat-menu-custom-header"
      >
        <button mat-menu-item>Profile</button>
        <button mat-menu-item>Logout</button>
        <mat-slide-toggle [checked]="isDark" (change)="setTheme($event)"
          >dark</mat-slide-toggle
        >
      </mat-menu>
    </span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="docs-sidenav"
      mode="side"
      opened="true"
      [fixedInViewport]="false"
      [fixedTopGap]="0"
      [fixedBottomGap]="0"
    >
    <mat-nav-list>
      <a mat-list-item routerLink="/subscriptions">Subscriptions</a>
      <a mat-list-item routerLink="/templatemanager">Templates</a>
      <a mat-list-item routerLink="/contacts">Contacts</a>
      <a mat-list-item routerLink="/domains">Domains</a>
      <a mat-list-item routerLink="/organizations">Organizations</a>
      <a mat-list-item routerLink="/useradmin">User Admin</a>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content #mainContent class="sidenav-content">
      <mat-card>
        <mat-card-content #matCard>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar color="primary" class="docs-footer"></mat-toolbar>
</ng-container>
