@import '~@angular/material/theming';
@import 'src/styles.scss';

.docs-sidenav {
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    display:flex;
}
.sidenav-container{
    position: absolute !important;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 60px;
}

.drawer-form-container{
    padding:20px;
}
.drawer-input{
    width:100%;
}
.fill-remaining-space{
    flex:1 1 auto;
}
.loggin-user{
    font-size:16px;
    font-weight:normal;
}
//title
.title-padding{
    padding-left: 20px;
}

//overrides for mat

.mat-menu-content{
    margin:10px;
}
.mat-menu-item{
    border-radius:5px;
}
.header-title{
    margin-left:10px;
}

.docs-footer{
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.docs-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
