.testing {
    outline: solid 1px red
}
.radio_selection {
    width: 100%;
    padding-left: 2em;
}

.radio_selection_group {
    margin-left: 1em;
    padding-top: .5em;
}

.radio_selection_group mat-radio-button {
    width: 100%;
}