<svg height="100" [attr.width]="totalWidth" >
    <style>
        .circle {stroke: #eeeeee; fill: none }
        .text1 {font-size: 11px; fill: #eeeeee; font-family:Arial, Helvetica, sans-serif}
        .icon {font-family: FontAwesome; fill: #eeeeee}
        .line {stroke: #555555; stroke-width: 1}
        .line {stroke: #cccccc;}
    </style>
    <g>
        <line x1="0" y1="60" [attr.x2]="totalWidth" y2="60" class="line"></line>
    </g>

    <g *ngFor="let t of items">
        <text [attr.x]="t.x" y="40" text-anchor="middle" class="icon" [innerHTML]="t.icon">
        </text>
        <circle r="5" [attr.cx]="t.x" cy="60" stroke-width="1" class="circle"></circle>
        <g [attr.transform]="'translate(' + t.x  + ' 80)'">
            <text x="0" y="0" text-anchor="middle" class="text1">
              <tspan x="0" dy="0">{{t.title}}</tspan>
              <tspan x="0" dy="1.2em">{{t.date | date}}</tspan>
            </text>
          </g>
    </g>
</svg>